<%- include ('./partials/header.ejs') %>
<div>
    <div class="headbar">
        <h3>EZ Chat App</h3>
    </div>
    <div class="logindiv">
        <h2>Welcome to EZ Chat App</h2>
        <a class="btn btn-primary loginbt" href="/login">Login</a>
        <h4 >Click here to Login/SignUp</h4>
    </div>
</div>
<%- include ('./partials/footer.ejs') %>