<div  class="chatbubble">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit delectus et, eos maxime corporis, exercitationem placeat qui earum iusto vitae officiis voluptas. Natus, iste blanditiis. Explicabo amet qui laudantium itaque.</p>
</div>
<div  class="chatbubble">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit delectus et, eos maxime corporis, exercitationem placeat qui earum iusto vitae officiis voluptas. Natus, iste blanditiis. Explicabo amet qui laudantium itaque.</p>
</div>
<div  class="chatbubble">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit delectus et, eos maxime corporis, exercitationem placeat qui earum iusto vitae officiis voluptas. Natus, iste blanditiis. Explicabo amet qui laudantium itaque.</p>
</div>
<div  class="chatbubble">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit delectus et, eos maxime corporis, exercitationem placeat qui earum iusto vitae officiis voluptas. Natus, iste blanditiis. Explicabo amet qui laudantium itaque.</p>
</div>
<div  class="chatbubble">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit delectus et, eos maxime corporis, exercitationem placeat qui earum iusto vitae officiis voluptas. Natus, iste blanditiis. Explicabo amet qui laudantium itaque.</p>
</div>
<div  class="chatbubble">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit delectus et, eos maxime corporis, exercitationem placeat qui earum iusto vitae officiis voluptas. Natus, iste blanditiis. Explicabo amet qui laudantium itaque.</p>
</div>
<div  class="chatbubble">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit delectus et, eos maxime corporis, exercitationem placeat qui earum iusto vitae officiis voluptas. Natus, iste blanditiis. Explicabo amet qui laudantium itaque.</p>
</div>