.headbar{
    background-color: teal;
    padding:20px;
    color:white;
    font-family: "Helvetica Neue",Helvetica,Arial;
    position:sticky;
    top:0;
}
.loginbt{
    background-color:teal;
    border-color: teal;
}
.logindiv{
    display:grid;
    place-items: center;
}
.pluscont{
    z-index: 10;
    position:fixed;
    bottom:10px;
    right: 10px;
}
.newbtn{
    color:white;
    text-decoration:none;
    font-size:30pt;
}
.contact{
    border-bottom:1px solid black;
    padding:5px;
}
.prof{
    float:left;
    margin-right: 5px;
    width:50px;
    border-radius: 50%;
}
.nochats{
    height:100vh;
    padding:10px;
    background:#eee;
    text-align:center;
    display:grid;
    place-items: center;
}
.imgsetup{
    width:200px;
    z-index:10;
}
.msgbox{
    z-index:10;
    width:100%;
    position:fixed;
    bottom:0;
    background:black;
    padding:2px 5px ;
    margin:0px;
}
#msgbar{
    margin-left:5px;
    width:280px;
    border-radius:16px;
    background:white;
    color:black;
}
#send{
    width:80px;
    right:5px;
    color:white;
    background:teal;
    border:teal;
    border-radius:16px;
}

.chatbubble{
    width:fit-content;
    margin:10px;
    padding:15px;
    border-radius: 24px;
    max-width:80%;
    color:white;
    background-color: teal;
}
.chatbubble>p{
    margin:0;
}
.chatscreendiv{
    margin-bottom:40px;
}
.author{
    color:aqua;
    font-weight:bold;
    font-size: 0.75em;
    max-width:100px;
    overflow:hidden;
}